.animation{
    border:none;
    border-radius:10px;
    background-color:yellow;
    box-shadow:1px 3px 3px 1px tomato;
    opacity:1.5;
} 
.click-event {
    
    margin-bottom:20px;
}
form div {
    margin-bottom:10px;
}